:root{
    --color-primary: #00ADB5;
    --color-secondary: #222831;
    --border-default: solid var(--color-secondary) 2px;
}

* {
    box-sizing: border-box;
}

body{
    background-color: var(--color-secondary);
    margin: 0;
    padding: 0;
}

.calculator-container{
    width: 500px;
    height: 800px;
    background-color: #393E46;
    border: var(--border-default);
    margin: 20px auto;
    padding: 10px;
    justify-content: center;
    vertical-align: top;
    display: flex;
    flex-direction: column;

    #calculator-screen{
        border: var(--border-default);
        background-color: #EEEEEE;
        width: 100%;
        margin: 20px auto;
        grid-column: span 4;
        overflow: auto;
        font-size: 30px;
        height: 130px;
        flex-shrink: 0;
    }

    .grid-container {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5px;

        button{
            background-color: var(--color-primary);
            color: #EEEEEE;
            border: var(--color-secondary) 3px solid;
            font-size: 30px;
            text-align: center;
            text-decoration: none;
            margin: auto;
            border-radius: 6px;
            transition-duration: 0.3s;
            width: 100%;
            height: 100%;

            &:hover{
                background-color: var(--color-secondary);
                cursor: pointer;
            }
        }

        .wide-btn{
            grid-column: span 2;
        }
    }
}
